# Ignore compiled binaries (Windows and Unix)
*.exe

# Ignore database files
*.db*

# Ignore log files
*.log*

# Ignore manually backed up go files
*.go-*

# Ignore VS Code and other editor metadata
.vscode/
.idea/

.DS_Store
Thumbs.db